/node_modules
/public/hot
/public/storage
/public/vendor
/public/fonts/vendor
/public/css
/public/js
/public/mix-manifest.json
/vendor
/.idea
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

